.tw-followCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #353232;
  padding: 12px;
  border-radius: 1000px;
}

.tw-followCard-header{
  display: flex;
  align-items: center;
  gap: 10px;
}

.tw-followCard-avatar{
  width:48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-info{
  display: flex;
  flex-direction: column;
}

.tw-followCard-user{
  opacity: .6;

}

.tw-followCard-buttonFollow{
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  width: 150px;
}
.App{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.is-following{
  background: transparent;
  transition: .3s ease all;
}
.is-following:hover{
  background: #ffa2a2;
}
.button-text-following-stop{
  display: none;
  
}

.is-following:hover .button-text-following-stop{
  display: block;
}
.is-following:hover .button-text-following{
  display: none;
}